@import 'Base/base'
@import 'layout/navbar'

.top-doctors
    box-shadow: -2px 2px 15px transparentize($black, .8)
    transition: .3s ease
    position: sticky
    top: 30px
    &:hover
        box-shadow: -2px 2px 5px transparentize($yellow, .8)


.post-card
    box-shadow: -6px 6px 6px 0 transparentize($black, .8)
