@import '../layout/colors'

.community-card
    background-color: $white
    border-radius: 5px
    margin-top: 20px
    margin-bottom: 20px
    text-align: center
    padding: 20px 0
    height: 470px
    position: relative

    box-shadow: -5px 8px 5px transparentize($black, 0.7)
    transition: all .3s ease
    &:hover
        box-shadow: -2px 4px 5px transparentize($black, 0.7)

    .image-container
        width: 150px
        height: 150px
        border-radius: 50%
        overflow: hidden
        margin: auto 
        margin-bottom: 20px
        box-shadow: -2px 2px 10px transparentize($black, .5%)

    p.community-description
        width: 80%
        margin: 5px auto
        letter-spacing: .8px

        .read-more
            color: $red

    .btns-container
        position: absolute
        bottom: 0
        width: 100%
        .my-btn
            width: 90%
            margin: 10px auto
